<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete user</title>
</head>
<body>
    <h3>To delete this user : <%= user.EMAIL%>, enter the password</h3>
    <form method="post" action="/user/<%=user.ID%>?_method=DELETE">
        <input placeholder="Enter password to delete" name="password">
        <button>Delete</button>
    </form>
</body>
</html>