<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #dfd8a7;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    h1 {
        
        color: #333;
        background-color:  #FF8080;
        padding: 20px;
        margin: 20px auto;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    h2 {
        margin-top: 170px;
        color: #555;
    }

    form {
        margin-top: 20px;
    }

    button {
        background-color: #acfbdd;
        color: black;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #9ae2c7;
    }
</style>
<body>
    <h1>User Data Management System</h1>
    <h2>The total number of user are : <%= count %></h2>
    <form action="/user">
        <button> Join us today</button>
    </form>
</body>
</html>