<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<style>
    /* Basic styling for better visualization */
    body {
        font-family: Arial, sans-serif;
        background-color: #dfd8a7;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    h2 {
        font-size: 24px;
        color: #333;
        text-align: center;
        margin: 20px 0;
    }

    button {
        background-color: #FF8080;
        color: #fff;
        border: none;
        border-radius: 3px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #ec7474;
    }
</style>
<body>
    <h2>The total number of user are : <%= count %></h2>
    <form action="/user">
        <button> Join us today</button>
    </form>
</body>
</html>